/* CSS declarations go here */
@import url('http://fonts.googleapis.com/css?family=Montserrat:700');

body {
    background-color: rgba(#999797, 0.8);
}
.title{
  font-size:100px;
  font-family: 'Montserrat', sans-serif, 'FontAwesome';
  position: absolute;
  top: 10%;
  left:0;
  right:0;
  margin:0 auto;
  text-align: center;
}
.left-btn-grid {
  width:340px;
  position: absolute;
  left:7%;
  bottom: 10%;
  margin:0 auto;
  text-align: center;
}
.right-btn-grid {
  width:340px;
  position: absolute;
  right:7%;
  bottom: 10%;
  margin:0 auto;
  text-align: center;

}
.item {
  color:#fff;
  font-size:17px;
  font-family: 'Montserrat', sans-serif, 'FontAwesome';
  text-transform:uppercase;
  background-color:#333537;
  padding:10px 10px;
  border:0px;
  margin:4px;
  height:100px;
  width:100px;
  -webkit-transition: all 0.1s ease;
 transition: all 0.1s ease;
}
.item:hover {
  background-color: #333537;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  -webkit-transform: translate3d(-1px, -2px, 0);
  transform: translate3d(-1px, -2px, 0);
}

.score1 {
  font-size:100px;
  font-family: 'Montserrat', sans-serif, 'FontAwesome';
  position: absolute;
  left:16.5%;
  top: 20%;
  margin:0 auto;
  text-align: center;

}

.score2 {
  font-size:100px;
  font-family: 'Montserrat', sans-serif, 'FontAwesome';
  position: absolute;
  right:16.5%;
  top: 20%;
  margin:0 auto;
  text-align: center;


}
.winner {
  font-size:100px;
  font-family: 'Montserrat', sans-serif, 'FontAwesome';
  position: absolute;
  left:0;
  right:0;
  bottom: 50%;
  margin:0 auto;
  text-align: center;
  opacity: 0;

}
.winnerText {
  font-size:100px;
  font-family: 'Montserrat', sans-serif, 'FontAwesome';
  position: absolute;
  left:0;
  right:0;
  bottom: 30%;
  margin:0 auto;
  text-align: center;
  opacity: 0;

}
.startButton{
  font-family: 'Montserrat', sans-serif, 'FontAwesome';
  border: 2px solid #3e3e3e;
  background: transparent;
  width:20%;
  outline: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
  color: #3e3e3e;
  position: absolute;
  left:0;
  right:0;
  bottom: 10%;
  margin:0 auto;
  text-align: center;
}
  .startButton:hover{
    cursor: pointer;
    color: white;
    background-color: #3e3e3e;
  }
.start-text{
  margin-top: 10px;
}
